name: build

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  schedule:
    - cron:  '0 9 * * *'
  workflow_dispatch:

jobs:

  generate-version-number:
    runs-on: ubuntu-latest

    outputs:
      version_number: ${{ steps.version.outputs.version_number }}
      build_number: ${{ steps.version.outputs.build_number }}

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
          fetch-depth: 0

    - name: Checkout required submodules
      run: |
        git submodule update --init --depth 1 scripts/build-tools
        git submodule update --init --depth 1 scripts/changes

    - name: Install the tool dependencies
      uses: jdx/mise-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Install dependencies
      run: scripts/install-dependencies.sh

    - name: Generate version and build numbers
      id: version
      run: |
        source scripts/environment.sh
        VERSION_NUMBER=`scripts/changes/changes version`
        BUILD_NUMBER=`build-tools generate-build-number`
        echo "version_number=$VERSION_NUMBER" >> $GITHUB_OUTPUT
        echo "build_number=$BUILD_NUMBER" >> $GITHUB_OUTPUT

  macos-build:
    runs-on: inseven-macos-26

    needs:
    - generate-version-number

    env:
      VERSION_NUMBER: ${{ needs.generate-version-number.outputs.version_number }}
      BUILD_NUMBER: ${{ needs.generate-version-number.outputs.build_number }}

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive
        lfs: true

    - name: Install dependencies
      run: scripts/install-dependencies.sh

    - name: Build, test, and release
      env:
        DEVELOPER_ID_APPLICATION_CERTIFICATE_BASE64: ${{ secrets.PERSONAL_DEVELOPER_ID_APPLICATION_CERTIFICATE_BASE64 }}
        DEVELOPER_ID_APPLICATION_CERTIFICATE_PASSWORD: ${{ secrets.PERSONAL_DEVELOPER_ID_APPLICATION_CERTIFICATE_PASSWORD }}
        APPLE_API_KEY_BASE64: ${{ secrets.PERSONAL_APPLE_API_KEY_BASE64 }}
        APPLE_API_KEY_ISSUER_ID: ${{ secrets.PERSONAL_APPLE_API_KEY_ISSUER_ID }}
        APPLE_API_KEY_ID: ${{ secrets.PERSONAL_APPLE_API_KEY_ID }}
      run: |
        scripts/build-macos.sh

    - name: Archive the binary
      uses: actions/upload-artifact@v4
      with:
        name: reporter-macos
        path: build/artifacts/*
        if-no-files-found: error

  linux-build:
    strategy:
      matrix:
        include:

        # Ubuntu.

        - name: ubuntu-questing-amd64
          os: ubuntu-24.04
          container: ubuntu:questing
          setup: |
            apt-get update -y
            apt-get install -y build-essential git swiftlang

        - name: ubuntu-questing-arm64
          os: ubuntu-24.04-arm
          container: ubuntu:questing
          setup: |
            apt-get update -y
            apt-get install -y build-essential git swiftlang

        - name: ubuntu-noble-amd64
          os: ubuntu-24.04

        - name: ubuntu-noble-arm64
          os: ubuntu-24.04-arm

        # Debian.

        - name: debian-trixie-amd64
          os: ubuntu-24.04
          container: debian:trixie
          setup: |
            apt-get update -y
            apt-get install -y build-essential git swiftlang

        - name: debian-trixie-arm64
          os: ubuntu-24.04-arm
          container: debian:trixie
          setup: |
            apt-get update -y
            apt-get install -y build-essential git swiftlang

    name: ${{ matrix.name }}-build
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container || '' }}

    needs:
    - generate-version-number

    env:
      VERSION_NUMBER: ${{ needs.generate-version-number.outputs.version_number }}
      BUILD_NUMBER: ${{ needs.generate-version-number.outputs.build_number }}

    steps:

    - name: Setup container
      if: ${{ matrix.setup != '' }}
      run: ${{ matrix.setup }}

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies
      run: scripts/install-linux-dependencies.sh

    - name: Build, test, and release
      run: |
        scripts/build-linux.sh

    - name: Archive the binary
      uses: actions/upload-artifact@v4
      with:
        name: reporter-${{ matrix.name }}
        path: build/artifacts/*
        if-no-files-found: error

  publish-release:
    runs-on: ubuntu-latest

    needs:
    - generate-version-number
    - macos-build
    - linux-build

    env:
      VERSION_NUMBER: ${{ needs.generate-version-number.outputs.version_number }}
      BUILD_NUMBER: ${{ needs.generate-version-number.outputs.build_number }}

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
          fetch-depth: 0

    - name: Checkout required submodules
      run: |
        git submodule update --init --depth 1 scripts/build-tools
        git submodule update --init --depth 1 scripts/changes

    - name: Install the tool dependencies
      uses: jdx/mise-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Install dependencies
      run: scripts/install-dependencies.sh

    - name: Install Linux-specific dependencies
      run: scripts/install-linux-dependencies.sh

    - uses: actions/download-artifact@v4
      with:
        pattern: "reporter-*"
        path: artifacts

    - name: Publish release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        RELEASE: ${{ github.ref == 'refs/heads/main' }}

      run: scripts/release.sh

    - name: Archive the binaries
      uses: actions/upload-artifact@v4
      with:
        name: build
        path: build/*
        if-no-files-found: error

  update-releases:
    needs: publish-release
    if: ${{ github.ref == 'refs/heads/main' }}

    runs-on: ubuntu-latest
    steps:

    - name: Update releases repository
      uses: peter-evans/repository-dispatch@v4
      with:
        token: ${{ secrets._GITHUB_ACCESS_TOKEN }}
        repository: inseven/releases
        event-type: build
