name: build

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  schedule:
    - cron:  '0 9 * * *'
  workflow_dispatch:

jobs:

  generate-version-number:
    runs-on: ubuntu-latest

    outputs:
      version_number: ${{ steps.version.outputs.version_number }}
      build_number: ${{ steps.version.outputs.build_number }}

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
          fetch-depth: 0

    - name: Checkout required submodules
      run: |
        git submodule update --init --depth 1 scripts/build-tools
        git submodule update --init --depth 1 scripts/changes

    - name: Install dependencies
      run: scripts/install-dependencies.sh

    - name: Generate version and build numbers
      id: version
      run: |
        source scripts/environment.sh
        VERSION_NUMBER=`scripts/changes/changes version`
        BUILD_NUMBER=`build-tools generate-build-number`
        echo "version_number=$VERSION_NUMBER" >> $GITHUB_OUTPUT
        echo "build_number=$BUILD_NUMBER" >> $GITHUB_OUTPUT

  macos-build:
    runs-on: macos-latest

    needs:
    - generate-version-number

    env:
      VERSION_NUMBER: ${{ needs.generate-version-number.outputs.version_number }}
      BUILD_NUMBER: ${{ needs.generate-version-number.outputs.build_number }}

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive
        lfs: true

    - name: Install dependencies
      run: scripts/install-dependencies.sh

    - name: Build, test, and release
      run: |
        scripts/build-macos.sh

  linux-build:
    runs-on: ubuntu-latest

    needs:
    - generate-version-number

    env:
      VERSION_NUMBER: ${{ needs.generate-version-number.outputs.version_number }}
      BUILD_NUMBER: ${{ needs.generate-version-number.outputs.build_number }}

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive
        lfs: true

    - name: Install dependencies
      run: scripts/install-dependencies.sh

    - name: Build, test, and release
      run: |
        scripts/build-linux.sh

